*{
    background-color: grey;
    color: black;
    font-family: 'Franklin Gothic Medium';
}

.topo{
    margin: 14px;
    border: 3px solid;
}

.formulario{
    font-family: 'Times New Roman';
    margin: 20px;
    text-decoration: none;
}

.meio{
    margin: 14px;
}

.video{
    margin: 18px;
}

